{% extends "layout.html" %}
{% block content %}
    <h2>Course Review</h2>
    <h3>Request Review Form<a href="{{ url_for('sign') }}">here</a></h3>
    <h3>View Reviews <a href="{{ url_for('entries') }}">here</a></h3>

{% endblock %}
