{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for('entries') }}" method=post>
    <h2>Link to go back Course Review <a href="{{ url_for('index') }}">here</a></h2>
    <h3>Reviews</h3>
    {% for entry in entries %}
    <p class=entry>
    {{ entry.department }}; {{ entry.coursenumber }}; {{ entry.quater}}; {{ entry.year }}; {{ entry.instructor }}; {{ entry.review }}
    </p>
    {% endfor %}
    </form>
{% endblock %}
