{% extends "layout.html" %}
{% block content %}
    <h2>Couse Review Form</h2>
    <form action="{{ url_for('sign') }}" method=post>
	<p class="heading">Department: <input type=text name=department>
	<p class="heading">Couse number: <input type=text name=coursenumber>
	<p class="heading">Quater: <input type=text name=quater>
	<p class="heading">Year: <input type=text name=year>
	<p class="heading">Instructor: <input type=text name=instructor>
        <p class="heading">Review:
	<textarea rows=5 cols=50 name=review></textarea></p>
	<p><input type=submit value=Submit></p>
    </form>
{% endblock %}
