<!--
 Copyright 2021 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<html lang = 'en'>
    <head>
        <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>Python Application</title>
        <style>
            .main-box {
                display: flex;
                flex-direction: column;
                width: 60%;
                padding: 20px;
                border:3px; 
                text-align: center;
                border-style:solid; 
                border-color:green;
                margin: 0 auto;
                }
            
            /* .sec-box {
                font-weight: bold;
            } */

            h1 {
                text-align: center;
                font-weight: bold;
                font-size: 40px;
                color: green;
                padding-top: 15px;
                }
            
            h5 {
                color: green;
                font-weight: bold;
            }

            img {
                display: flex;
                padding: 10px;
                justify-content: center;
                margin: auto;
                border-color: black;
                }

            p {
            text-align: center;
            }


            input[type="submit"] {
                color: white;
                background-color: green;
                font-weight: bold;
                font-size: 15px;
                width : 35%;
                height: 40px;
                border: none;
                margin :auto;
                }

            .submit:hover {
                background-color: orange;
                color: black;
                }
        </style>
        </head>
        <body>
            <h1>Image Recognition & Translation</h1>
            <!-- <p>This Python Flask application demonstrates App Engine Flexible, Google Cloud Storage, Datastore, the Cloud Vision API and the Cloud Translation API.</p> -->
            <br>
            <div class = "main-box">
    <form action="upload_photo" class="upload" method="POST" enctype="multipart/form-data">
      <b>Upload File: </b><input type="file" name="file"><br><br/>
      <input type="submit" name="submit" value="Search" class="submit">
    </form>
    {% for image_entity in image_entities %}
      <img src="{{image_entity['image_public_url']}}" width=200 height=200 alt="img"><br/>
      <!-- <p>{{image_entity['blob_name']}} was uploaded {{image_entity['timestamp']}}.</p> -->
      <div class = "sec-box">
        <ul><h5>Image Detection:</h5> {{image_entity['image_detected']}} </ul>
        <ul><h5>Translation of Image Detection:</h5> {{image_entity['translated_image_detected']}} </ul>        
        <ul><h5>Face Joy Detection:</h5> {{image_entity['joy']}}</ul>
        <ul><h5>Logo Detection:</h5> {{image_entity['logo']}} </ul>
        <ul><h5>Label Detection:</h5> {{image_entity['label']}} </ul>
        <ul><h5>Landmark Detection:</h5> {{image_entity['landmark_detected']}}</ul>
        <ul><h5>Text Detection:</h5> {{image_entity['text']}} </ul>
        <ul><h5>Translation of Text:</h5> {{image_entity['translated_text']}}</ul>
        <ul><a href ="{{image_entity['image_url']}}"><h5>Click to View Similar Image</h5></a></ul>
    </div>
    {% endfor %}
    </div>
  </body>
</html> 


